<body class='search_user'>
	<div id='search_page_back'>

		<center>
			<%= form_tag(users_path, :method => 'get', :class => 'sform') do %>
				<%= text_field_tag :search, '', placeholder: 'ユーザー名を入力', class:'sbox', autocomplete: 'off' %>
				<%= submit_tag 'Search', :name => nil, :class => 'sbtn' %>
			<% end %>

			<ul>
				<% @users.each do |user| %>
					<%= link_to user.username, user, :class => 'userkekka' %>
					<br>
				<% end %>
			</ul>
		</center>

	</div>
</body>