<body class='mypage'>
  <div id='page_back'>
    <h1>フォロワー</h1>

    <div class="myfriend">
      <% if @users.any? %>
      <ul>
        <%= render @users %>
      </ul>
      <% end %>
    </div>

  </div>
</body>
