<body class='mypage'>
    <div id='top_page_back'>
        <center>
            <img src="/logo/logo1.png" class="top_logo">
            <div id='top_title'>アドチケ</div>
            <div id='top_detail'>
                <p>
                    アドチケはコンサートやスポーツ観戦に参加した記録を残すことのできるWebサービスです
                </p>
            </div>
        </center>
    </div>
</body>