@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* 全体 */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/*  タイポグラフィー　*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* ヘッダー */
.navbar{
    border-radius: 0;
    border: none;
    background-color: #003355; /* ベース基調となる濃い青 */
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav >li > a{
    color: #fff;
}

.navbar-default .navbar-nav >li > a:hover{
    color: #aaa;
}


/* チケット */
.ticket-box {
  padding: 5px 5px 0 5px;
  margin: 10px 0;
  height: 100px;
  width: 600px;
  color: #6091d3;               /*文字色*/
  border: solid 1px #000080;
  border-radius: 8px;
  /*background: #e4fcff;        /*背景色*/
  /*border: solid 2px #6091d3;  /*線*/
  /*border-radius: 10px;        /*角の丸み*/
}

#date {
	display: inline;
	color: dimgray;
}

#ticket-logo {
	display:inline;
	position: relative;
	z-index: 0;
}

#tweetdele {
	display:inline;
	position: absolute;
  left: 700px;
}

#livetitle {
	position: relative;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	z-index: 100;
}

#place {
  position: absolute;
  left: 230px;
}

#winteam {	/* 勝利チームは赤色にする */
	display:inline;
	color: red;
}


/* マイページの要素 */
.archive {
	position: absolute;
	top: 300px;
	right: 200px;
	font-size: 18px;
}

.stats {
	position: relative;
	top: -410px;
	left: 940px;
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

