@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* 全体 */
section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/*  タイポグラフィー　*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* ヘッダー */
.navbar{
    border-radius: 0;
    border: none;
    background-color: #003355; /* ベース基調となる濃い青 */
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav >li > a{
    color: #fff;
}

.navbar-default .navbar-nav >li > a:hover{
    color: #aaa;
}

/* トップページ */
#top_page_back {
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 650px;
    width: 1200px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #e5f1ff 36%, #69afff);
    border-radius: 10px;
}

.top_logo {
    width: 200px;
    height: 200px;
}

#top_title {
    font-size: 80px;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    margin-top: -20px;
}

#top_detail {
    font-size: 20px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    margin-top: 50px;
}

/* 新規登録 & ログイン */
#sign_login_page_back{
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 630px;
    width: 1200px;
    border-radius: 8px;
    background: #dfecec;
    border-radius: 10px;
}

/* ページ要素 */
#page_back {
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
    width: 1200px;
    border-radius: 8px;
    background: #dfecec;
    border-radius: 10px;
}

.mypage{
    background: #a19fa0;
}

#mypage_back {
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
    width: 1200px;
    border-radius: 8px;
    background: #eef5f6;
    border-radius: 10px;
}

#follow_block {
    padding: 10px 10px 0 20px;
    height: 100px;
    width: 200px;
    color: #6091d3;
    border: solid 1px #000080;
    border-radius: 8px;
}

#follow_unfollow_btn {
    margin-top: 10px;
    margin-left: 20px;
}

#name {
    position: absolute;
    top: 110px;
    left: 950px;
    font-size: 33px;
    color: #5c0544;
}

.pagecon {
    position: relative;
    top: -20px;
    left: 220px;
}

/* チケット */
.ticket-box {
    float: left;
    padding: 5px 5px 0px 5px;
    margin: 10px 0 0 8px;
    width: 630px;
    height: 95px;
    color: #6091d3;
    border: solid 1px #000080;
    border-radius: 8px;
    background: #e7fcfd;
}

#date {
    margin-bottom: 0px;
    color: dimgray;
}

#ticket-logo {
    margin-top: -13px;
    height: 55px;
    width: 55px;
    z-index: 0;
}

#tweetdele {
    margin-top: -12px;
    margin-left: 578px;
    width: 50px;
}

#artist_title {
    padding: 1px 0 20px 0;
    margin-top: -55px;
    margin-bottom: 5px;
    margin-left: 60px;
    width: 530px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

#place {
    display: inline;
    margin-top: 0px;
    margin-left: 65px;
    margin-bottom: 0px;
    width: 270px;
}

#winteam {  /* 勝利チームは赤色にする */
    display:inline;
    color: red;
}


/* マイページの要素 */
#bar {
    margin: 50px 0 0 780px;
    width: 350px;
}

#bar_archive {
    padding-top: 30px;
    font-size: 18px;
}

#bar_artist {
    padding-top: 30px;
    font-size: 18px;
}

#bar_place {
    padding-top: 30px;
    font-size: 18px;
}

#category {
    margin-left: 10px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: blue;
        }
    }
    strong {
        display: block;
    }
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
    a {
        padding: 0;
    }
}

.users.follow {
    padding: 0;
}


/* 検索フォーム */
.search_user {
    background: url(/images/live.jpg) no-repeat;
    background-size: cover;
    z-index: 0;
}

#search_page_back {
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
    width: 1200px;
    border-radius: 8px;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
}

.seach_user::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.sform {
    position: relative;
    margin-bottom: 30px;
}

.sbox {
    height: 40px;
    padding: 0 10px;
    width: 270px;
    border: solid 1px #003355;
    border-radius: 2px;
    background: #eee;
}

.sbtn {
    margin-left: 5px;
    width: 70px;
    height: 40px;
    border-radius: 2px;
    background: blue;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.sbtn:hover{
    background: #eee;
    color: #7fbfff;
}

.userkekka {
    font-style: italic;
    color: #d600ff;
    font-size: 45px;
}

.userkekka:hover {
    text-decoration: none;
}


/* チケットを追加 */
#tick_info {
    color: white;
}

#live_info{
    display: inline;
    margin-left: 250px;
    color: orange;
    font-size: 25px;
}

#sport_info {
    display: inline;
    margin-left: 520px;
    color: orange;
    font-size: 25px;
}

.addticket {
    background: url(/images/tokyodome1.jpg) no-repeat;
    background-size: cover;
    z-index: 0;
}

.addticket::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
}

#f_ticket {
    padding: 15px 10px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
    width: 1200px;
    border-radius: 8px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#wchar {
    display: inline;
    color: white;
}

#year {
    padding: 0 10px;
    width: 70px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#month {
    padding: 0 17px;
    width: 70px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#day {
    padding: 0 17px;
    width: 70px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#artist_info{
    display: inline;
    color: orange;
}

#artist {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 10px;
    width: 200px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#livetitle_info{
    display: inline;
    color: orange;
}

#livetitle {
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 330px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 3px #52A8B8;  
}

#team_box {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

#teama {
    margin-right: 30px;
    padding: 0 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#teamb {
    padding: 0 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#team_point_box {
    float: right;
    margin-top: 10px;
    margin-right: 150px;
}

#teamap {
    margin-right: 70px;
    padding: 0 10px;
    width: 80px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#teambp {
    padding: 0 10px;
    width: 80px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#place_info {
    display: inline;
    color: red;
}

#add_place_box {
    margin-left: 300px;
}

#add_place {
    padding: 0 10px;
    margin-top: 80px;
    margin-left: 50px;
    width: 330px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;
}

#logo_info {
    display: inline;
    color: red;    
}

#logo_box {
    margin-left: 300px;
}

#logo {
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 80px;
    width: 260px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px #52A8B8;  
}

#newadd {
    margin-top: 40px;
    margin-left: 470px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: blue;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
}



/* フォローしているユーザーを表示 */
.myfriend {
    list-style: none;
    font-size: 30px;
}
.myfriend:hover {
    text-decoration: none;
}
