@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* 全体 */
section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/*  タイポグラフィー　*/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* ヘッダー */
.navbar{
    border-radius: 0;
    border: none;
    background-color: #003355; /* ベース基調となる濃い青 */
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav >li > a{
    color: #fff;
}

.navbar-default .navbar-nav >li > a:hover{
    color: #aaa;
}

/* ページ要素 */
#page_back {
	padding: 15px 10px 10px 15px;
	margin: 10px 0;
	height: 800px;
	width: 1200px;
	border-radius: 8px;
	background: #dfecec;        /* 背景色 */
	border-radius: 10px;        /* 角の丸み */
}

#follow_block {
	padding: 10px 10px 0 20px;
	height: 100px;
	width: 200px;
	color: #6091d3;             /*文字色*/
	border: solid 1px #000080;
	border-radius: 8px;
	background: #fff;       	/*背景色*/
}

#name {
	position: absolute;
	top: 110px;
	left: 950px;
	font-size: 33px;
	color: #5c0544;
}

.pagecon {
	position: relative;
	top: -20px;
	left: 220px;
}

/* チケット */
.ticket-box {
	padding: 5px 50px 10px 5px;
	margin: 10px 0;
	height: 90px;
	width: 630px;
	color: #6091d3;               /*文字色*/
	border: solid 1px #000080;
	border-radius: 8px;
	background: #efffff;        /*背景色*/
	/*border: solid 2px #6091d3;  /*線*/
	/*border-radius: 10px;        /*角の丸み*/
}

#date {
	display: inline;
	color: dimgray;
}

#ticket-logo {
	display:inline;
	position: absolute;
	height: 55px;
	width: 55px;
	z-index: 0;
}

#tweetdele {
	position: absolute;
	margin-left: 580px;
	margin-top: 40px;
}

#artist_title {
	position: absolute;
	left: 240px;
	font-size: 20px;
	font-weight: bold;
	z-index: 100;
}

#place {
	position: absolute;
	padding-top: 30px;
	padding-left: 70px;

}

#winteam {	/* 勝利チームは赤色にする */
	display:inline;
	color: red;
}


/* マイページの要素 */
.mypage{
	background: #2b2b2b;
}

#bar {
	position: absolute;
	top: 150px;
	left: 950px;
	width: 350px;
}

#bar_archive {
	padding-top: 30px;
	font-size: 18px;
}

#bar_artist {
	padding-top: 30px;
	font-size: 18px;
}

#bar_place {
	padding-top: 30px;
	font-size: 18px;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.users.follow {
	padding: 0;
}

#follow_form {
	position: absolute;
	top: 60px;
	right: 215px;
}


/* 検索フォーム */
.search_user {
	background: url(/images/live.jpg) no-repeat;
	background-size: cover;
	z-index: 0;
}

#search_page_back {
	padding: 15px 10px 10px 15px;
	margin: 10px 0;
	height: 800px;
	width: 1200px;
	border-radius: 8px;
	background: rgba(0,0,0,0.8);
	border-radius: 10px;
}

.seach_user::before {
	content: '';
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	background: inherit;
	filter: blur(5px);
	z-index: -1;
}

.sform {
	position: relative;
	margin-bottom: 30px;
}

.sbox {
	height: 40px;
	padding: 0 10px;
	width: 270px;
	border: solid 1px #003355;
	border-radius: 2px;
	background: #eee;
}

.sbtn {
	width: 70px;
	height: 40px;
	border-radius: 2px;
	background: #7fbfff;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border: none;
}
.sbtn:hover{
	background: #eee;
	color: #7fbfff;
}

.userkekka {
	font-style: italic;
	font-size: 45px;
}

.userkekka:hover {
	text-decoration: none;
}


/* チケットを追加 */
.addticket {
	background: url(/images/tokyodome1.jpg) no-repeat;
	background-size: cover;
	z-index: 0;
}

.addticket::before {
	content: '';
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	background: inherit;
	filter: blur(2px);
	z-index: -1;
}

#f_ticket {
	padding: 15px 10px 10px 15px;
	margin: 10px 0;
	height: 800px;
	width: 1200px;
	border-radius: 8px;
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
}


/* フォローしているユーザーを表示 */
.myfriend {
	list-style: none;
	font-size: 30px;
}
.myfriend:hover {
	text-decoration: none;
}
